/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #ecf0f1;
  font-family: 'Permanent Marker', cursive;
  font-size: medium;
}

a:link {
  text-decoration:none;
  color: #3498db;

}
a:visited {
  text-decoration:none;
  color: #3498db;
}
a:hover {color: #f1c40f;}

#bg {
  float: right;
  width: 50%;
}
#bg img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 0.5em; }
p { margin: 1em 0; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: center;
  width: 50%;
  line-height: 1.5em;
  float: left;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
  margin-top: 0.4em;
  font-size: 4em;
  line-height: 1.2em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  width: 100%;
}

.header {
  height: 220px;
}

.bio {
  text-align: center;
}

p {
  margin-left: 1em;
}
.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 100%;
  color: black;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  /*font-family: Garamond;*/

}

.site #info {
  text-align: center;

}

.site .footer .contact {
  float: left;
  margin-right: 3em;
  margin-left: 1em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/* Responsive */

@media screen and (max-width: 530px) { /* Specific to this particular image */
  #bg {
    float: none;
    width: 100%;
  }
  .site {
    float: none;
    width: 100%;
  }
}
